// libs imports
import React from 'react';

// styles
import './{{pascalCase name}}.scss'

// components

// methods

// types

const {{pascalCase name}} = props => {
    return (
        <div>
            {{pascalCase name}}
        </div>
    );
};

export default {{pascalCase name}};